*.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/model_6.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/pix3d.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/shapenet.pth filter=lfs diff=lfs merge=lfs -text
